* {margin: 0; padding: 0;}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, pre {
    line-height: 1.7;
    margin-bottom: 20px;
}

li ol {
    margin-left: 1em;
}

pre {
    max-width: 100%;
    overflow: auto;
    border: 1px solid #487858;
    background-color: #E0FFB8;
}

hr {
    margin: 20px 0;
    clear: both;
}

.instructions h1,
.instructions h2,
.instructions h3,
.instructions h4,
.instructions h5,
.instructions h6,
.instructions p,
.instructions ol,
.instructions ul,
.instructions pre {
    clear: both;
}

.step {
    overflow: hidden;
}

.step .local {
    float: left;
}

.step .local:before {
    content: 'Locally';
}

.step .remote {
    float: right;
}

.step .remote:before {
    content: 'Remotely';
}

.step .local,
.step .remote {
    width: 48%;
    clear: both;
    position: relative;
    padding: 30px 0 16px;

}

.step .local:before,
.step .remote:before {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2em 0.4em;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    background-color: #487858;
    display: block;
}

em.project-name,
em.webfaction-username,
em.webfaction-ip,
em.webfaction-port,
em.random-password,
em.aws-bucket,
em.aws-key,
em.aws-secret {
    font-family: monospace;
    padding: 0.2em;
    color: #092e20;
    background-color: #94da3a;
}

#data {
    float: right;
    width: 25%;
    padding: 16px;
    background-color: #efefef;
}

input[type="text"],
input[type="number"] {
    padding: 0.6em;
    width: 40%;
}

#data input[type="text"],
#data input[type="number"] {
    width: 95%;
}

#data p:last-child {
    margin-bottom: 0;
}
