{% load compress %}
{% load thumbnail %}
<!doctype html>
<html>
    <head>
        {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/libs/normalize.css">
        <style type="text/css">
            body {
                padding: 40px;
                font-size: 16px;
            }
        </style>
        {% endcompress %}
    </head>
    <body>
        <h1>Hello {{ settings.PROJECT_NAME }}!</h1>
        <p>
        {% thumbnail "http://placehold.it/1200x1200" "150x150" as im %}
            <img src="{{ im.url }}">
        {% empty %}
            <span>Run <code>python manage.py syncdb --settings=development</code>
                to get thumbs to work.</span>
        {% endthumbnail %}
        </p>
        {% compress js %}
        <script src="{{ STATIC_URL }}js/libs/jquery-1.8.3.js" type="text/javascript"></script>
        <script type="text/javascript">
        console.log('Hello World!');
        </script>
        {% endcompress %}
    </body>
</html>
